@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navigstion Bar */
.bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.logo {
  margin-left: 2rem;
}

.mainNav {
  display: flex;
}

.mainNav li {
  list-style-type: none;
  padding-right: 2rem;
}

.polygon {
      clip-path: polygon(100% 21%, 100% 73%, 0 68%, 0 25%);
}

.polygonsmall {
      clip-path: polygon(100% 0, 100% 56%, 0 49%, 0 0);
}

.teamPoly {
      clip-path: polygon(100% 51%, 100% 100%, 0 100%, 0 45%);
      z-index: -4;
}