@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Navigstion Bar */
.bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.logo {
  margin-left: 2rem;
}

.mainNav {
  display: flex;
}

.mainNav li {
  list-style-type: none;
  padding-right: 2rem;
}

/* Agentur */

/* .lowerpartText {
  margin-top: 15rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 50%;
  color: white;
} */

.bgabout {
  position: absolute;
  right: -2rem;
  width: 100vw;
  z-index: -2;
}