@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Outfit', sans-serif !important;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.fontfamily {
  font-family: 'Outfit', sans-serif !important;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden !important;
}

.teamPoly {
  clip-path: polygon(100% 51%, 100% 100%, 0 100%, 0 45%);
}

.polygonProject {
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.sai-plattform-border {
  border: 18px solid #d770ff !important;
}

.sai-plattform-color {
  color: #d770ff;
}

.sai-plattform-bgcolor {
  background: #d770ff !important;
}

.developement-border {
  border: 18px solid #bc27f6 !important;
}

.developement-color {
  color: #bc27f6;
}

.developement-bgcolor {
  background: #bc27f6 !important;
}
